<!DOCTYPE html>
<html lang="en" ng-app="POM360App">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>POM 360</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/POM360.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body ng-controller="POM360Controller">
		<nav style="-webkit-app-region: drag;" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div style="-webkit-app-region: no-drag;" class="navbar-header">
				<a class="navbar-brand" href="#"><img style="vertical-align: middle" src="icons/POM360.png"/> POM 360</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
				<ul style="-webkit-app-region: no-drag;" class="nav navbar-nav">
					<li>
						<a ng-click="runMvn()" href="#"><span class="glyphicon glyphicon-play-circle"></span></a>
					</li>
					<li>
						<a ng-click="openThisRelativeToHomeDir('.m2/repository')" href="#"><span class="glyphicon glyphicon-hdd"></span></a>
					</li>
					<li>
						<a href="#"><span class="glyphicon glyphicon-cloud"></span></a>
					</li>
					<li>
						<a href="#"><span class="glyphicon glyphicon-book"></span></a>
					</li>
					<li>
						<a ng-click="openThis('presentation/MavenM2ETycho.pdf')" href="#"><span class="glyphicon glyphicon-picture"></span></a>
					</li>
					<li>
						<a ng-click="openThis('http://books.sonatype.com/mvnref-book/reference/')" href="#"><span class="glyphicon glyphicon-info-sign"></span></a>
					</li>
					<li class="navbar-right">
						<a ng-click="exit()" href="#"><span class="glyphicon glyphicon-remove-circle"></span></a>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#/effective-pom">Effective POM</a>
						</li>
						<li>
							<a href="#/dependencies">Dependencies</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<br/>
					<div ui-view></div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
			<div class="container-fluid">
				<br/>
				<form class="form-inline" role="form">
					<div class="form-group">
						<label class="sr-only" for="search">Search</label>
						<input type="search" class="form-control" id="search" placeholder="Search text">
					</div>
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-search"></span>
					</button>
					<div class="checkbox">
						<label>
							<input type="checkbox" /> a != A
							</label>
					</div>
					<button type="button" class="btn btn-default pull-right">
						<span class="glyphicon glyphicon-arrow-down"></span>
					</button>
					<button ng-click="debug()" type="button" class="btn btn-default pull-right">
						<span class="glyphicon glyphicon-eye-open"></span>
					</button>
				</form>
				<br/>
				<form class="form-horizontal" role="form">
  					<div class="form-group">
						<label for="mvn" class="col-sm-1 control-label">mvn</label>
						<div class="col-sm-1">
							<button type="button" class="btn btn-default" ng-click="openThis('http://books.sonatype.com/mvnref-book/reference/installation.html')" >
								<span class="glyphicon glyphicon-info-sign"></span>
							</button>
						</div>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="mvn" placeholder="mvn command" ng-model="config.mvnCommand"></input>
						</div>
						<div class="col-sm-1">
							<button ng-click="selectMvnCommand()" type="button" class="btn btn-default pull-right" id="selectmvn">
								<span class="glyphicon glyphicon-floppy-open"></span>
							</button>
							<input style="display: none;" id="mvnCommandSelector" type="file" />
						</div>
					</div>
					<div class="form-group">
						<label for="options" class="col-sm-1 control-label">Options</label>
						<div class="col-sm-1">
							<button type="button" class="btn btn-default" ng-click="openThis('http://books.sonatype.com/mvnref-book/reference/running-sect-options.html')" >
								<span class="glyphicon glyphicon-info-sign"></span>
							</button>
						</div>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="options" placeholder="mvn options" ng-model="config.mvnOptions"></input>
						</div>
					</div>
					<div class="form-group">
						<label for="pom" class="col-sm-1 control-label">POM</label>
						<div class="col-sm-1">
							<button type="button" class="btn btn-default" ng-click="openThis('http://books.sonatype.com/mvnref-book/reference/pom-relationships-sect-pom.html')" >
								<span class="glyphicon glyphicon-info-sign"></span>
							</button>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="pom" placeholder="{{config.defaultPomFile}}" ng-model="config.pomFile"></input>
						</div>
						<div class="col-sm-1">
							<button type="button" class="btn btn-default pull-right">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
						</div>
						<div class="col-sm-1">
							<button ng-click="selectPomFile()" type="button" class="btn btn-default pull-right" id="selectPom">
								<span class="glyphicon glyphicon-floppy-open"></span>
							</button>
							<input style="display: none;" id="pomFileSelector" type="file" accept=".xml"/>
						</div>
					</div>
					<div class="form-group">
						<label for="settings" class="col-sm-1 control-label">Settings</label>
						<div class="col-sm-1">
							<button type="button" class="btn btn-default" ng-click="openThis('http://books.sonatype.com/mvnref-book/reference/appendix-settings-sect-quick-overview.html')" >
								<span class="glyphicon glyphicon-info-sign"></span>
							</button>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="settings" placeholder="{{config.defaultSettingsFile}}" ng-model="config.settingsFile"></input>
						</div>
						<div class="col-sm-1">
							<button type="button" class="btn btn-default pull-right">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
						</div>
						<div class="col-sm-1">
							<button ng-click="selectSettingsFile()" type="button" class="btn btn-default pull-right" id="selectSettings">
								<span class="glyphicon glyphicon-floppy-open"></span>
							</button>
							<input style="display: none;" id="settingsFileSelector" type="file" accept=".xml"/>
						</div>
					</div>
				</form>
			</div>
		</nav>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular.js"></script>
		<script src="js/angular-ui-router.min.js"></script>
		<script src="js/POM360.js"></script>
	</body>
</html>