<form class="form-horizontal" role="form">
	<div class="form-group">
		<div class="col-sm-11">
			<input type="text" class="form-control mono" id="usage-command" placeholder="mvn -h" readonly/>
		</div>
		<div class="col-sm-1">
			<button ng-click="runUsage()" class="btn btn-default btn-block"><span class="glyphicon glyphicon-play-circle"></span></button>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<textarea class="form-control mono" id="usage" rows="16" readonly></textarea>
		</div>
	</div>
</form>
